.screen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: 'Libre Baskerville';
  font-size: 1.5rem;
}

.question-wrapper {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}

.question-text {
  padding: 2rem 1rem;
  font-size: 1.5rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: center;
  white-space: pre-line;
}

.question-title {
  font-size: 1rem;
  padding: 2rem;
  text-align: center;
}

.question-content-block {
  flex-grow: 2;
  width: 100%;
  text-align: center;
  height: 50vh;
}

img.question-image {
  max-width: 100vw;
  max-height: 50vh;
}

.question-answer {
  padding: 1.5rem 2rem;
  max-width: 26rem;
  margin: 1rem auto;
  background: #FAFAFA;
}