body {
  font-family: "Baskerville" , "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
  margin: auto;
}

h1, h2 {
  font-weight: 300;
}

svg {
	width: 100%;
	height: 100%;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.labelValue
{
	font-size: 60%;
	opacity: .5;
	
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

text {
  font: 24px "Baskerville", sans-serif;
}

.question-type {
  text-transform: capitalize;
}

.question-body {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.question-body > img {
  height: 8rem;
  width: auto;
  margin: -3rem;
}

.question-body > span {
  flex-grow: 1;
}

.nav-bar {
  display: flex;
  flex-flow: row;
  align-items: space-around;
  justify-content: center;
}

.nav-bar > button {
  border: none;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  margin: 1rem;
}

.warning {
  position: fixed;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}